:root{
    --cor-fundo: rgb(231, 192, 107);
    --cor-texto: rgb(22, 9, 15)
    --cor-principal:  #c56baf;
    background-color: #644e5f;
    --cor-secundaria: #ce9d90;
    --cor-hover:#5a4843;
    --cor-superfice:#4d6c72;
    --cor-card:#6fb393;
    --cor-legenda:#89c9d6;
    --cor-clara:#7e5cac;
    --cor-rodape:#a9af6d;
h2
}

 body{
    background-color: var(--cor-principal);
    color: var (--cor-clara);
    font-family: center;
    padding: 30px; 
header{
    background-color: rgb(44, 58, 73);
}
main{
    background-color: rgb(253, 28, 197);
}
section{
    background-color: rgb(175, 115, 231);
}
Style
body {
    background-color: #ccf77d;
    color: #7fecc2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #c56baf;
    color: rgb(92, 173, 226);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #f51cbf;
}
button { 
    background-color
    color:#222222;
    border: none;
    padding 10px 15px;
    boder-radiu : 8px;
    cursor: pointer;
}
button: hover {
    background-color:#9b4d83;
}
-curtir{
    display: block;
    width: fit-content;
    margin: 20px auto;
}